html,
body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: 10px;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

/*header*/
.header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    height: 60px;
}

.lefthead {
    display: flex;
    justify-self: flex-start;
    color: #F9FAF8;
}

.righthead {
    display: flex;
    justify-self: flex-end;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.headlinkright {
    font-size: 18px;
    color: #E5E7EB;
}

/*section 1*/
.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1F2937;
    flex: 1;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
}

.subtext1 {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    background: #3882F6;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
    font-weight: bold;
}

/*section 2*/
.section2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.title2 {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.list2 {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.text2 {
    text-align: center;
    padding-top: 15px;
    padding-left: auto;
    padding-right: auto;
}

/*section 3*/
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.cred {
    padding-left: 175px;
}

/*section 4*/
.section4 {
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list4 {
    display: flex;
    background: #3882F6;
    border-radius: 15px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button2 {
    background: #3882F6;
    border-radius: 15px;
    font-size: 18px;
    border-color: #E5E7EB;
    padding: 10px;
    font-weight: bold;
}

.sub4 {
    padding-right: 75px;
}

.title4 {
    font-size: 24px;
    font-weight: bolder;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #E5E7EB;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image1 {
    height: 300px;
    width: 400px;
    padding-top: 40px;
}

.image2 {
    height: 200px;
    width: 200px;
}