body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.lefthead {
    display: flex;
    justify-self: flex-start;
}

.righthead {
    display: flex;
    justify-self: flex-end;
}

